<div class="container mt-5">

<%= render 'friend_requests/index' %>
<hr/>

<% @users = User.all %>
<div class="container text-center mt-5">
    <h3 class="mb-3">People you may know</h3>
  <div class="row gx-5">
    <% @users.each do |user| %>
    <%  if user.id != current_user.id %>
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card d-block w-100" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= user.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text"></p>
              <%= link_to "Go to profile", user_path(user.id) %>
            </div>
        </div>
    </div>
    <% end %>
    <% end %>
  </div>

</div>
