<div class="container">
    <div class="row">
        <div class="col-8 mr-5 mt-3">

            <%= render 'posts/form' %>
            <%= render 'posts/posts' %>

        </div>
        <div class="col mt-3">
            <%= render 'friend_requests/index' %>
        </div>
    </div>

</div>
