
<h2>Friends requests</h2>

<% if FriendRequest.where(friend_id: current_user.id).empty? %>
    <span>You do not currently have any pending requests</span>
<% else %>
  <% FriendRequest.where(friend_id: current_user.id).each do |incoming| %>
    <div class="card" style="width: 100%;">
      <img src="..." class="card-img-top" alt="...">
      <% @friend_request = incoming %>
      <div class="card-body">
        <h5 class="card-title"><%= User.find(@friend_request.user_id).name %></h5>
        <div class="row mt-3 mb-1">
                <%= button_to "Confirm", friend_request_path(@friend_request), class: 'btn btn-primary btn-block' %>
        </div>
        <div class="row">
                <%= button_to "Ignore", friend_request_path(@friend_request), method: :delete, class: 'btn btn-secondary btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
